﻿<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-4">
            <div class="panel" style="background-color: #F4F4F4">
                <div class="panel-body">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#newAreaModal" style="display: table;width: 100%;" title="Create a New Area">
                        <div style="height: 355px;display: table-cell;vertical-align: middle;" class="text-center">
                            <i class="ico-add-new-area"></i>
                        </div>
                    </a>
                    <div id="newAreaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newAreaModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <form class="form-horizontal container-fluid" novalidate name="newAreaForm">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                                        <h4 class="modal-title">Add New Area</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label for="areaName" class="control-label">Area Name</label>
                                                <div ng-class="{'has-error':newAreaForm.AreaName.$invalid}">
                                                    <input type="text" class="form-control" id="areaName" name="AreaName" ng-model="areaViewModel.areaName" required>
                                                    <label class="control-label error-label" ng-show="newAreaForm.AreaName.$error.required">Please enter an area name.</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="mapOption" class="control-label">Map Option</label>
                                                <select class="form-control selectpicker" id="mapOption" data-style="btn-white" ng-model="areaViewModel.mapOption">
                                                    <option value="0">Google Map</option>
                                                    <option value="1">Custom Image</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label for="areaAddress" class="control-label">Address</label>
                                                <div ng-class="{'has-error':newAreaForm.AreaAddress.$invalid}">
                                                    <div id="areaAddressWrap"></div>
                                                    <label class="control-label error-label" ng-show="newAreaForm.AreaAddress.$error.required">Please enter an address.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="areaViewModel.mapOption ==='1'">
                                            <div class="col-md-12">
                                                <label class="control-label text-left">Upload Custom Map Image</label><br />
                                                <label for="fileUpload" class="btn btn-primary">
                                                    <i class="fa fa-cloud-upload"></i> Choose File...
                                                </label>
                                                <input type="file" id="fileUpload" ngf-select="" ng-model="areaViewModel.picFile" name="file" ngf-accept="'image/*'" required="" accept="image/*" style="display: none;">
                                            </div>
                                        </div>
                                        <div id="newAreaMap" style="height: 440px; width: 100%; position: relative; margin-top: 10px;">
                                            <script type="text/ng-template" id="searchbox.tpl.html">
                                                <input type="text" class="form-control" id="areaAddress" placeholder="Enter an Address" ng-model="ngModel">
                                            </script>
                                            <ui-gmap-google-map center="areaViewModel.map.center" zoom="areaViewModel.map.zoom" control="areaViewModel.map.control" bounds="areaViewModel.map.bounds" draggable="true" options="areaViewModel.map.options" ng-if="render">
                                                <ui-gmap-search-box template="areaViewModel.searchbox.template" ng-model="areaViewModel.areaAddress" required name="AreaAddress" events="areaViewModel.searchbox.events" position="BOTTOM_RIGHT" parentdiv="'areaAddressWrap'"></ui-gmap-search-box>
                                                <ui-gmap-marker coords="areaViewModel.marker.coords" options="areaViewModel.marker.options" events="areaViewModel.marker.events" idkey="areaViewModel.marker.id" ng-if="areaViewModel.mapOption ==='0'"></ui-gmap-marker>
                                                <ui-gmap-marker coords="areaViewModel.areaImage.sw" events="areaViewModel.areaImage.markerEvents" options="areaViewModel.areaImage.markerOptions" idkey="1" ng-if="areaViewModel.mapOption ==='1'"></ui-gmap-marker>
                                                <ui-gmap-marker coords="areaViewModel.areaImage.ne" events="areaViewModel.areaImage.markerEvents" options="areaViewModel.areaImage.markerOptions" idkey="2" ng-if="areaViewModel.mapOption ==='1'"></ui-gmap-marker>
                                            </ui-gmap-google-map>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary btn-lg" ng-disabled="newAreaForm.$invalid" ng-click="addNewArea()"><i class="ico-plus-small-white"></i>Add</button>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-repeat="area in areaList">
            <div class="panel">
                <div class="panel-heading" style="background-color: #F4F4F4">
                    <div class="pull-right area-btn-container">
                        <a ui-sref="specificarea.map({areaId:area.Uid, groupId:''})"><i class="ico-max-windows" title="Expand"></i></a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#editAreaModal" ng-click="setEditingArea(area)"><i class="ico-settings" title="Settings"></i></a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteAreaModal" ng-click="setEditingArea(area)"><i class="fa fa-trash-o" title="Delete" style="line-height: 0;font-size: 23px;color: #6D757F;"></i></a>
                        <a ui-sref='specificarea.map({areaId:area.Uid, groupId:""})' target="blank"><i class="ico-new-windows-sm" title="Open in New Tab"></i></a>
                    </div>
                    <h2 class="panel-title"><i class="ico-alert-sm pull-left" style="margin-right: 5px" ng-show="area.Alerts.length>0" title="{{area.Alerts.length}} Alerts"></i><span>{{area.Name}}</span></h2>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <a ui-sref="specificarea.map({areaId:area.Uid, groupId: ''})">
                                <div style="height: 300px" class="col-xs-12">
                                    <!--<h2>Map</h2>-->
                                    <ui-gmap-google-map ng-if="area.map" events="area.map.events" center="area.map.center" zoom="area.map.zoom" options="area.map.options" control="area.map.control">
                                        <!--<ui-gmap-marker coords="area.marker.coords" options="area.marker.options" idkey="area.marker.id">-->
                                    </ui-gmap-google-map>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-overflow" style="padding-left: 0">
                                <span>Modified by: <b>{{area.UserModified}}</b></span>
                            </div>
                            <div class="col-md-6 text-overflow" style="padding-right: 0">
                                <span style="float: right">Last Modified: <b>{{area.TimeModified| date:'MM/dd/yyyy'}} {{area.TimeModified | date:"h:mm a"}}</b></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-overflow">
                                <span ng-repeat="speakerGroup in area.SpeakerGroups">{{speakerGroup.Name}}<span ng-if="!$last">, </span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editAreaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editAreaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form class="form-horizontal container-fluid" novalidate name="editAreaForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                            <h4 class="modal-title">Edit Area</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="areaName" class="control-label">Area Name</label>
                                    <div ng-class="{'has-error':editAreaForm.AreaName.$invalid || editAreaError.length > 0}">
                                        <input type="text" class="form-control" id="areaName" name="AreaName" ng-model="editingArea.Name" required>
                                        <label class="control-label error-label" ng-show="editAreaForm.AreaName.$error.required">Please enter an area name.</label>
                                        <label class="control-label error-label" ng-show="editAreaError.length > 0">{{editAreaError}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="editAreaForm.$invalid || editAreaError.length > 0" ng-click="updateArea()" data-dismiss="modal"><i class="ico-plus-small-white"></i>Save</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div id="deleteAreaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteAreaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal container-fluid" novalidate name="deleteAreaForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                            <h4 class="modal-title">Delete Area</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete area "{{editingArea.Name}}"?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteArea()" data-dismiss="modal"><i class="fa fa-trash-o" title="Delete" style="line-height: 0;font-size: 20px;color:white;"></i>Delete</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>