﻿<div id="changePasswordModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 450px">
        <div class="modal-content">
            <form class="form-horizontal container-fluid" autocomplete="off" style="font-family: arial;" novalidate name="changePasswordForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                    <h4 class="modal-title arial-font">Change Password</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" style="display: none">
                            <label for="OldPassword" class="control-label">Old Password</label>
                            <div ng-class="{'has-error':  changePasswordForm.OldPassword.$invalid && changePasswordForm.OldPassword.$dirty}">
                                <input type="password" focus-me="pwdFocus" class="form-control" id="OldPassword" name="OldPassword" ng-model="changePasswordViewModel.OldPassword" required>
                                <label class="control-label error-label" ng-show="changePasswordForm.OldPassword.$invalid && changePasswordForm.OldPassword.$dirty">The Old Password field is required.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="NewPassword" class="control-label">New Password</label>
                            <div ng-class="{'has-error': isNewPasswordRequired || validationMessage }">
                                <input type="password" class="form-control" id="NewPassword" name="NewPassword" ng-change="newPasswordChanged()" ng-model="changePasswordViewModel.NewPassword">
                                <label class="control-label error-label" ng-show="isNewPasswordRequired">The New Password field is required.</label>
                                <label class="control-label error-label" ng-show="validationMessage">{{validationMessage}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="ConfirmNewPassword" class="control-label">Confirm Password</label>
                            <div ng-class="{'has-error': isConfirmNewPasswordRequired}">
                                <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" ng-change="confirmPasswordChanged()" ng-model="changePasswordViewModel.ConfirmPassword">
                                <label class="control-label error-label" ng-show="isConfirmNewPasswordRequired">The Confirm Password field is required.</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" style="width: 84px" ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid || isNewPasswordRequired || validationMessage || isConfirmNewPasswordRequired">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>
