﻿<div class="container" style="max-width: 610px; padding: 50px">
    <div class="row">
        <div class="col-md-6" style="padding-left: 0px;">
            <img src="/Images/lrad-logo.png" alt="logo">
        </div>
        <div class="col-md-6" style="padding-right: 0px;">
            <h4 class="text-right" style="text-transform: uppercase !important;">Login to Your Account</h4>
        </div>
    </div>
    <div class="center-block">
        <div class="row">
            <div id="loginBox" class="col-xs-12">
                <form method="post" role="form" id="loginForm" name="loginForm" novalidate class="form-horizontal">
                    <div class="form-group">
                        <span class="col-md-3 control-label" style="text-align: left;">Email:</span>
                        <div class="col-md-9" ng-class="{'has-error':loginForm.Email.$invalid && loginForm.Email.$dirty}">
                            <input ng-model="email" autofocus="autofocus" class="form-control" id="Email" name="Email" required placeholder="Username" type="email">
                            <span class="field-validation-valid text-danger" ng-show="loginForm.Email.$error.required && loginForm.Email.$dirty">Email field is required</span>
                            <span class="field-validation-valid text-danger" ng-show="loginForm.Email.$error.email && loginForm.Email.$dirty">This is not a valid email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-md-3 control-label" style="text-align: left;">Password:</span>
                        <div class="col-md-9" ng-class="{'has-error':loginForm.Password.$invalid && loginForm.Password.$dirty}">
                            <input class="form-control" id="Password" name="Password" placeholder="Password" type="password" required ng-model="password">
                            <span class="field-validation-valid text-danger" ng-show="loginForm.Password.$invalid && loginForm.Password.$dirty">Password field is required</span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-6" style="padding-top: 10px;">
                            <label class="cbox" style="float: left;">
                                <input type="checkbox" name="remember" id="RememberMe" ng-model="rememberMe" ng-change="rememberMeChanged()">
                                <span></span>
                            </label>
                            <label for="RememberMe" style="float: left; margin-left: 10px; margin-top: 4px;" id="rememberMeLbl" class="loginPageLbl">Remember me</label>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="submit" value="Log in" id="loginBtn" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login($event)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <div class="field-validation-valid text-danger"><span>{{invalid_grant}}</span></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-xs-12" style="margin-top: 20px">
                    <a id="forgotPassword" data-toggle="modal" data-target="#resetPasswordModal">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>

    <div id="resetPasswordModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 450px">
            <div class="modal-content">
                <form class="form-horizontal container-fluid" autocomplete="off" style="font-family: arial;" novalidate name="resetPasswordForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                        <h4 class="modal-title arial-font">Request Password Reset</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="resetEmail" class="control-label">Email</label>
                                <div show-email-errors ng-class="{'has-error': resetPasswordForm.resetEmail.$invalid && resetPasswordForm.resetEmail.$dirty}">
                                    <input type="email" validate-email class="form-control" id="resetEmail" name="resetEmail" ng-model="resetPasswordEmail" required>
                                    <label id="emailRequiredLabel" class="control-label error-label" ng-show="resetPasswordForm.resetEmail.$error.required && resetPasswordForm.resetEmail.$dirty">The Email field is required.</label>
                                    <label class="control-label error-label" ng-show="resetPasswordForm.resetEmail.$error.email">The Email field is not valid.</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" style="width: 84px" ng-click="requestPasswordReset()">Reset</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div>
    </div>

</div>