﻿<div class="mapInfoWindow">
    <h4>{{parameter.group.Name}}</h4>
    <hr />
    <ul class="list-unstyled">
        <li><a href="javascript:void(0)" ng-click="parameter.showEditGroup(parameter.group)" data-uid="parameter.group.Uid">Edit Group</a></li>
        <!--<li role="separator" class="divider"></li>-->
        <li><hr /></li>
        <li><a href="javascript:void(0)" ng-click="parameter.showDeleteGroup(parameter.group)" data-toggle="modal" data-target="#deleteGroupModal" data-uid="parameter.group.Uid">Delete Group</a></li>
    </ul>
</div>