﻿<div class="mapInfoWindow">
    <h4>{{parameter.speaker.Name}}</h4>
    <hr />
    <ul class="list-unstyled">
        <li><a class="mapWindowModify" ng-disabled="parameter.paramScope.isSpeakerPlaying" href="javascript:void(0)" ng-click="parameter.showEditSpeaker(parameter.speaker)" data-uid="parameter.speaker.Uid">Edit Speaker</a></li>
        <!--<li role="separator" class="divider"></li>-->
        <li><hr/></li>
        <li><a class="mapWindowModify" ng-disabled="parameter.paramScope.isSpeakerPlaying" href="javascript:void(0)" ng-click="parameter.showDeleteSpeaker(parameter.speaker)" data-uid="parameter.speaker.Uid">Delete Speaker</a></li>
    </ul>
</div>