﻿<div class="mapInfoWindow">
    <ul class="list-unstyled">
        <li><a href="javascript:void(0)" ng-click="parameter.showAddGroup()">Add Group</a></li>
        <li><hr /></li>
        <li><a href="javascript:void(0)" ng-click="parameter.showAddSpeaker(parameter.location)">Add Speaker</a></li>
    </ul>
</div>