﻿<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true"
                        ng-if="!isCordova || !isHtml5 || !isReady">
                    &times;
                </button>-->
                <h4 class="modal-title">Start recording your stream.</h4>
            </div>

            <div class="modal-body">
                <ng-audio-recorder id="mainAudio" audio-model="recorded" show-player="true" time-limit="600" auto-start="true" ng-selected-speakers="selectedSpeakers">
                    <div class="alert alert-warning" ng-show="recorder.status.isConverting">
                        Please wait while your recording is processed.
                    </div>

                    <div ng-show="recorder.isHtml5 && recorder.status.isRecording">
                        <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
                    </div>

                    <div ng-show="!recorder.status.isRecording && recorder.audioModel">
                        <ng-audio-recorder-wave-view wave-color="yellow" bar-color="red"></ng-audio-recorder-wave-view>
                    </div>

                    <!--
                        Use a count down while #recording.
                        <h2 class="recorderIsRecording" ng-if="recorder.status.isRecording">
                        {{recorder.elapsedTime | secondsToDateTime | date:'mm:ss'}}
                    </h2>-->

                    <div ng-if="recorder.isAvailable">
                        <div class="recorderAccessDenied alert alert-danger" ng-if="recorder.status.isDenied === true">
                            You need to grant permission for this application to USE your microphone.
                            <a href="#" class="close" data-dismiss="modal" aria-label="close" title="close">×</a>
                        </div>

                        <button class="text-uppercase" disabled="disabled" ng-click="recorder.stopRecord()" data-dismiss="modal" type="button" ng-disabled="recorder.status.isRecording === false" ng-show="recorder.status.isRecording">
                            Stop Recording
                        </button>

                        <button class="text-uppercase" ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isDenied === true || recorder.status.isRecording" ng-show="!recorder.status.isRecording">
                            Start Recording
                        </button>
                    </div>

                    <div class="alert alert-danger" ng-if="!recorder.isAvailable">
                        Your browser does not support this feature natively, please use latest version of <a href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
                        Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
                        use this feature.
                        <a href="#" class="close" data-dismiss="modal" aria-label="close" title="close">×</a>
                    </div>
                </ng-audio-recorder>
            </div>
        </div>
    </div>
</div>