<nav class="navbar navbar-view">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group has-feedback">
                <input ng-model="q"
                       ng-change="pageChangeHandler()"
                       type="search"
                       class="form-control search"
                       placeholder="Search"
                       data-column="1">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
            <a href="#" class="navbar-link" style="padding-left: 10px;" ng-click="showAll()">Show All</a>
        </form>
    
        <div class="navbar-btn pull-right" ng-if="isAuthorize">
            <button type="button" class="btn btn-primary navbar-btn pull-right" data-toggle="modal" ng-click="showAddSoundModal()" style="margin: 2px 0 0 15px; height: 36px">Add Sound</button>
        </div>

    </div><!-- /.navbar-collapse -->
</nav>

<div class="container-fluid">
    <div class="row dataTable-container">
        <table id="" class="display table dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th class="col-md-2" ng-click="order('Name')" ng-class="columnOrder == 'Name' && !reverse ? 'sorting_asc' : 'sorting_desc'">NAME</th>
                    <th class="col-md-4" ng-click="order('Filename')" ng-class="columnOrder == 'Filename' && !reverse ? 'sorting_asc' : 'sorting_desc'">FILENAME</th>
                    <th class="col-md-4" ng-click="order('Type')" ng-class="columnOrder == 'Type' && !reverse ? 'sorting_asc' : 'sorting_desc'">TYPE</th>
                    <th class="col-md-2" ng-click="order('UserCreated')" ng-class="columnOrder == 'UserCreated' && !reverse ? 'sorting_asc' : 'sorting_desc'">USER CREATED</th>
                    <!--<th class="col-md-1">ACTION</th>-->
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="sound in filtered = (soundList | filter:q) | orderBy:columnOrder:reverse | itemsPerPage: pageSize" current-page="currentPage" ng-class-odd="'odd'" ng-class-even="'even'" class="sdmgmt-item">
                    <td>{{sound.Name}}</td>
                    <td><span>{{sound.Filename}}</span></td>
                    <td>{{sound.Type | soundTypeFilter}}</td>
                    <td>{{sound.UserCreated}}</td>
                    <!--<td>
                        <a data-toggle="modal" ng-click="deleteSound(sound)">
                            <img src="/Images/trash.png" title="Delete Sound" style="width:20px; height:20px; cursor:pointer;margin-right:10px;" />
                        </a>
                    </td>-->
                </tr>
            </tbody>
        </table>

        <div class="col-xs-4 sound-mgmt">
            <div class="pull-left page-size-wrap">
                <label>
                    show
                    <select ng-model="pageSize" class="form-control">
                        <option ng-repeat="page in pageSizeOptions" value="{{page.value}}">{{page.name}}</option>
                    </select>
                    entries
                </label>
            </div>
        </div>

        <div class="col-xs-4 text-center sound-mgmt">
            <div class="text-center">
                Showing {{startIndex}} to {{lastIndex}} of {{totalItems}} entries
            </div>
        </div>

        <div class="col-xs-4 sound-mgmt">
            <div class="pull-right page-pagi-wrap">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="Templates/pagination-tmpl.html"></dir-pagination-controls>
            </div>
        </div>

    </div>
</div>