﻿<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="form-horizontal container-fluid" autocomplete="off" style="font-family: arial;" novalidate name="newSoundForm">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>

                    <h4 class="modal-title arial-font">New Sound</h4>
                </div>

                <div class="modal-body container-fluid new-sound-modal">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="file"
                                   id="soundFile" name="soundFile"
                                   required
                                   accept="audio/*"
                                   file-upload-directive
                                   ng-model="newSound.soundFile"
                                   ng-class="{ 'has-error alert-danger' : newSoundForm.soundFile.$invalid && !newSoundForm.soundFile.$pristine }" />
                            <p ng-show="newSoundForm.soundFile.$invalid && !newSoundForm.soundFile.$pristine" class="help-block error-label">Sound file is required.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="soundName" class="control-label">Name</label>
                            <div>
                                <input type="text"
                                       id="soundName" name="soundName" class="form-control"
                                       required
                                       ng-model="newSound.soundName"
                                       ng-class="{ 'has-error alert-danger' : newSoundForm.soundName.$invalid && !newSoundForm.soundName.$pristine }" />

                                <p ng-show="newSoundForm.soundName.$invalid && !newSoundForm.soundName.$pristine" class="help-block error-label">Sound name is required.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="fileType" class="control-label">File Type</label>
                            <div>
                                <select class="form-control" id="fileType" name="fileType"
                                        required
                                        ng-model="newSound.soundType"
                                        ng-class="{ 'has-error alert-danger' : newSoundForm.fileType.$invalid && !newSoundForm.fileType.$pristine }">
                                    <option ng-repeat="sound in soundTypes" value="{{sound.Id}}">{{sound.Name}}</option>
                                </select>

                                <p ng-show="newSoundForm.fileType.$invalid && !newSoundForm.fileType.$pristine" class="help-block error-label">File type is required.</p>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <label for="soundDesc" class="control-label">Sound Description:</label>
                            <textarea class="form-control" name="soundDesc" id="soundDesc"
                                        required
                                        ng-model="newSound.soundDesc"
                                        ng-class="{ 'has-error alert-danger' : newSoundForm.soundDesc.$invalid && !newSoundForm.soundDesc.$pristine }"></textarea>

                            <p ng-show="newSoundForm.soundDesc.$invalid && !newSoundForm.soundDesc.$pristine" class="help-block error-label">Sound description is required.</p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-default btn-lg"
                            ng-click="close(false)">
                        CANCEL
                    </button>
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-primary btn-lg"
                            ng-click="saveSound(newSound)"
                            ng-disabled="newSoundForm.$invalid">
                        <i ng-show="!editUser" class="ico-plus-small-white"></i>ADD
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>