﻿<div class="modal fade" id="SpeakerErrorModal" ng-controller="speakerErrorModalController">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="form-horizontal container-fluid" autocomplete="off" style="font-family: arial;" novalidate name="newSoundForm">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>

                    <h4 class="modal-title">{{externalTitle}}</h4>
                </div>

                <div class="modal-body container-fluid new-sound-modal">
                    <p>{{externalErrorMessage}}</p>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-default btn-lg text-uppercase"
                            ng-click="close(false)">
                        close
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>