﻿<div id="addNewSpeakerModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="addNewSpeakerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal container-fluid" autocomplete="off" style="font-family: arial;" novalidate name="newSpeakerForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                    <h4 class="modal-title arial-font">{{isAddMode?'Add New Speaker':'Edit Speaker'}}</h4>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="selectedAddNewSpeakerArea" class="control-label">Area Name</label>
                            <div>
                                <select id="selectedAddNewSpeakerArea" selectpicker ng-model="speakerVM.Area" data-style="btn-white" class="selectpicker show-tick form-control"
                                        ng-options="area.Name for area in allAreas" source="allAreas" ng-change="newSpeakerAreaChanged()"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="selectedAddNewSpeakerGroup" class="control-label">Group Name</label>
                            <div>
                                <select id="selectedAddNewSpeakerGroup" selectpicker ng-model="speakerVM.Group" data-style="btn-white" class="selectpicker show-tick form-control"
                                        ng-options="group.Name for group in speakerVM.Area.Groups" source="speakerVM.Area.Groups"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="SpeakerName" class="control-label">Speaker Name</label>
                            <div show-errors ng-class="{'has-error': newSpeakerForm.SpeakerName.$invalid}">
                                <input focus-me="speakerFocus" type="text" class="form-control" id="SpeakerName" name="SpeakerName" ng-model="speakerVM.Name" required>
                                <label class="control-label error-label" ng-show="newSpeakerForm.SpeakerName.$error.required">The Speaker Name field is required.</label>
                            </div>
                            <label for="NetworkSpeakerName" class="control-label">Network Name</label>
                            <div show-errors ng-class="{'has-error': newSpeakerForm.NetworkSpeakerName.$invalid}">
                                <input focus-me="speakerFocus" type="text" class="form-control" id="NetworkSpeakerName" name="NetworkSpeakerName" ng-model="speakerVM.NetworkName" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="unassignedSpeaker" class="control-label">Unassigned Speaker</label>
                            <div id="unassignedSpeakers">
                                <select id="unassignedSpeaker" selectpicker ng-model="speakerVM.UnassignedSpeaker" ng-disabled="!isAddMode" data-style="btn-white" class="selectpicker show-tick form-control" ng-class="(isAddMode) ? 'unassigned-speakers': ''" ng-options="s.IPAddress for s in UnassignedSpeakers" source="UnassignedSpeakers">
                                    <option value="">Nothing Selected</option>
                                </select>
                                <button ng-hide="!isAddMode && !speakerVM.UnassignedSpeaker" id="btnReload" class="btn pull-right" ng-click="discoverSpeakers()" ng-disabled="isDiscovering"
                                        title="Discover New Speakers" data-toggle="tooltip" data-placement="top" tooltip>
                                    <i ng-class="(isDiscovering) ? 'spin-it' : ''" class="fa fa-refresh fa-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="ipAddress" class="control-label">IP Address</label>
                            <div show-errors ng-class="{'has-error': newSpeakerForm.ipAddress.$invalid}">
                                <input type="text" class="form-control" id="ipAddress" name="ipAddress" ng-disabled="speakerVM.UnassignedSpeaker" ng-model="speakerVM.IPAddress" required ng-pattern='/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/' placeholder='xxx.xxx.xxx.xxx'>
                                <label class="control-label error-label" ng-show="newSpeakerForm.ipAddress.$error.pattern">The IP address is invalid.</label>
                                <label class="control-label error-label" ng-show="newSpeakerForm.ipAddress.$error.required">The IP address field is required.</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="selectedSpeakerType" class="control-label">Speaker Type</label>
                            <div>
                                <select id="selectedSpeakerType" selectpicker ng-model="speakerVM.Type" data-style="btn-white" class="selectpicker show-tick form-control" ng-options="v.name for (k, v) in SpeakeTypes" source="SpeakeTypes"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="generalVolume" class="control-label">General Volume: <b style="text-transform: initial">{{speakerVM.GeneralVolume}}{{speakerVM.GeneralVolume === 0 ? "dB (Max)" : "dB"}}</b></label>
                            <div>
                                <rzslider id="generalVolume" rz-slider-model="speakerVM.GeneralVolume" rz-slider-options="sliderOptions"></rzslider>
                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <label for="emergencyVolume" class="control-label">Emergency Volume: <b style="text-transform: initial">{{speakerVM.EmergencyVolume}}{{speakerVM.EmergencyVolume === 0 ? "dB (Max)" : "dB"}}</b></label>
                            <div>
                                <rzslider id="emergencyVolume" rz-slider-model="speakerVM.EmergencyVolume" rz-slider-options="sliderOptions"></rzslider>
                            </div>
                        </div>-->
                    </div>
                    <div class="form-group" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                            <label class="control-label" style="font-size: 15px">Location Coordinates</label>
                        </div>
                        <div class="col-md-6">
                            <label for="latitude" class="control-label">Latitude</label>
                            <div ng-class="{'has-error':newSpeakerForm.latitude.$invalid}">
                                <input type="number" class="form-control" id="latitude" name="latitude" ng-model="speakerVM.latitude" required max="90" min="-90">
                                <label class="control-label error-label" ng-show="newSpeakerForm.latitude.$error.required">Latitude is required.</label>
                                <label class="control-label error-label" ng-show="newSpeakerForm.latitude.$error.max || newSpeakerForm.latitude.$error.min">The latitude of the location must range from -90.0 to 90.0.</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="longitude" class="control-label">Longitude</label>
                            <div ng-class="{'has-error':newSpeakerForm.longitude.$invalid}">
                                <input type="number" class="form-control" id="longitude" name="longitude" ng-model="speakerVM.longitude" required max="180" min="-180">
                                <label class="control-label error-label" ng-show="newSpeakerForm.longitude.$error.required">Longitude is required.</label>
                                <label class="control-label error-label" ng-show="newSpeakerForm.longitude.$error.max || newSpeakerForm.longitude.$error.min">The longitude of the location must range from -180.0 to 180.0.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!isAddMode && deviceInfo">
                        <div class="col-md-12">
                            <table id="connectionTable" class="table table-bordered text-center" style="margin-bottom: 5px">
                                <tr style="background-color: #F7F7F7">
                                    <td>Connection</td>
                                    <td>Activity</td>
                                    <td>Status</td>
                                    <td>Satellite Status</td>
                                </tr>
                                <tr>
                                    <td ng-class="deviceInfo.ConnectionState==='Connected'?'text-success':'text-danger'">{{deviceInfo.ConnectionState}}</td>
                                    <td class="text-success">{{deviceInfo.Activity}}</td>
                                    <td class="text-success">{{deviceInfo.Status}}</td>
                                    <td class="text-success">{{deviceInfo.SatelliteStatus}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!isAddMode && deviceInfo">
                        <div class="col-md-12">
                            <label class="control-label" style="font-size: 15px">Sensors</label>
                            <table id="sensorsTable" class="table table-bordered text-center" style="margin-bottom: 0">
                                <tr style="background-color: #F7F7F7">
                                    <td>Amp Temp</td>
                                    <td>Door</td>
                                    <td>Battery Level</td>
                                </tr>
                                <tr ng-if="!deviceInfo.MnsState">
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                                <tr ng-if="deviceInfo.MnsState">
                                    <td class="text-success">{{deviceInfo.MnsState.Temperature?deviceInfo.MnsState.Temperature+" ℃" : ""}}</td>
                                    <td>
                                        <span ng-if="deviceInfo.MnsState.DioAlerts"><span ng-class="deviceInfo.MnsState.DioAlerts.DoorOpen?'text-danger':'text-success'">{{deviceInfo.MnsState.DioAlerts.DoorOpen?"Yes":"No"}}</span></span>
                                    </td>
                                    <td ng-if="deviceInfo.MnsState.BatteryCharge <= 29" class="text-danger">{{deviceInfo.MnsState.BatteryCharge + "%"}}</td>
                                    <td ng-if="deviceInfo.MnsState.BatteryCharge > 29 && deviceInfo.MnsState.BatteryCharge < 60" class="text-warning">{{deviceInfo.MnsState.BatteryCharge + "%"}}</td>
                                    <td ng-if="deviceInfo.MnsState.BatteryCharge >= 60" class="text-success">{{deviceInfo.MnsState.BatteryCharge + "%"}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-disabled="newSpeakerForm.$invalid" style="width: 84px" ng-click="manageSpeaker()">{{isAddMode?'Add':'Save'}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>