﻿<div id="addNewGroupModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="addNewGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal container-fluid" autocomplete="off" style="font-family: arial;" novalidate name="newGroupForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                    <h4 class="modal-title arial-font">{{isAddMode?'Add New Group':'Edit Group'}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="selectedNewGroupArea" class="control-label">Area Name</label>
                            <div>
                                <select id="selectedNewGroupArea" selectpicker data-style="btn-white" class="form-control selectpicker show-tick" ng-model="newGroupViewModel.Area"
                                        ng-options="area.Name for area in allAreas" source="allAreas"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="groupName" class="control-label">Group Name</label>
                            <div show-errors ng-class="{'has-error': newGroupForm.groupName.$invalid && newGroupForm.groupName.$dirty}">
                                <input type="text" focus-me="groupFocus" class="form-control" id="groupName" name="groupName" ng-model="newGroupViewModel.Name" required>
                                <label class="control-label error-label" ng-show="newGroupForm.groupName.$error.required && newGroupForm.groupName.$dirty">The Group Name field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Color</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <ui-colorpicker ng-model="newGroupViewModel.Color"></ui-colorpicker>
                                </span>
                                <input type="text" class="form-control" ng-model='newGroupViewModel.Color' />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="multiCastGroup" class="control-label">Multicast Group</label>
                            <div>
                                <input type="text" class="form-control" id="multiCastGroup" name="multiCastGroup" ng-model="newGroupViewModel.MultiCastGroup">
                            </div>
                        </div>
                    </div>

                    <!--<div ng-if="availableGeneralFiles" class="form-group">
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="control-label">Available General Files</label>
                            </div>
                            <div id="availableGeneralFilesPanel" class="panel panel-default" style="height: 200px; overflow-y: auto; border: 2px solid #D5D8DB; margin-right: -20px;">
                                <div treecontrol id="availableGeneralFiles" class="tree-classic" style="margin-top: 5px; font-family: arial; text-transform: uppercase;"
                                     tree-model="availableGeneralFiles"
                                     options="treeOptions"
                                     selected-nodes="selectedSourceGeneralFiles">
                                    {{node.Name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div style="text-align: center; margin-top: 90px;">
                                <button type="button" class="btn btn-default" style="width: 100px" ng-click="addGeneralFiles()">Add</button>
                                <button type="button" class="btn btn-default" style="margin-top: 10px; width: 100px;" ng-click="removeGeneralFiles()">
                                    REMOVE
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label" style="margin-left: -22px;">Assigned General Files</label>
                            
                            <div id="assignedGeneralFilesPanel" class="panel panel-default" style="height: 200px; overflow-y: auto; border: 2px solid #D5D8DB; margin-left: -22px;"
                                 show-errors ng-class="isError ? 'has-error' : ''">
                                <div treecontrol id="assignedGeneralFiles" class="tree-classic" style="margin-top: 5px; font-family: arial; text-transform: uppercase;"
                                     tree-model="assignedGeneralFiles"
                                     options="treeOptions"
                                     selected-nodes="selectedDestinationGeneralFiles">
                                    {{node.Name}}
                                </div>
                            </div>
                            <label class="control-label error-label" ng-show="isError">Must have at least one sound.</label>
                        </div>
                    </div>-->

                    <!--<div ng-if="availableEmergencyFiles" class="form-group">
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="control-label">Available Emergency Files</label>
                            </div>
                            <div class="panel panel-default" style="height: 200px; overflow-y: auto; border: 2px solid #D5D8DB; margin-right: -20px;">
                                <div treecontrol class="tree-classic" style="margin-top: 5px; font-family: arial; text-transform: uppercase;" id="availableEmergencyFiles"
                                     tree-model="availableEmergencyFiles"
                                     options="treeOptions"
                                     selected-nodes="selectedSourceEmergencyFiles">
                                    {{node.Name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div style="text-align: center; margin-top: 90px;">
                                <button type="button" class="btn btn-default" style="width: 100px" ng-click="addEmergencyFiles()">Add</button>
                                <button type="button" class="btn btn-default" style="margin-top: 10px; width: 100px;" ng-click="removeEmergencyFiles()">
                                    REMOVE
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label" style="margin-left: -22px;">Assigned Emergency Files</label>
                            <div id="assignedEmergencyFilesPanel" class="panel panel-default" style="height: 200px; overflow-y: auto; border: 2px solid #D5D8DB; margin-left: -22px;">
                                <div treecontrol class="tree-classic" style="margin-top: 5px; font-family: arial; text-transform: uppercase;" id="assignedEmergencyFiles" name="assignedEmergencyFiles"
                                     tree-model="assignedEmergencyFiles"
                                     options="treeOptions"
                                     selected-nodes="selectedDestinationEmergencyFiles">
                                    {{node.Name}}
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" style="width: 84px" ng-click="manageGroup()">{{isAddMode?'Add':'Save'}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>