﻿<nav class="navbar navbar-view navbar-static-top" id="spedificareaToolbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="contentSwitchNavbar">
            <li ui-sref-active="active"><a ui-sref='specificarea.map({areaId:$stateParams.areaId, groupId:$stateParams.groupId})'><i ng-class="$state.is('specificarea.map')?'ico-map-white':'ico-map-red'"></i><span> Map</span><span class="sr-only">(current)</span></a></li>
            <li ui-sref-active="active"><a ui-sref='specificarea.table({areaId:$stateParams.areaId, groupId:$stateParams.groupId})'><i ng-class="$state.is('specificarea.table')?'ico-grid-white':'ico-grid-red'"></i><span> Table</span></a></li>
        </ul>
        <form ng-if="$state.is('specificarea.table')" class="navbar-form navbar-left" role="search" style="margin-top: 10px; padding-right: 0;">
            <div class="form-group has-feedback">
                <input id="filterName" type="search" class="form-control" placeholder="Search" data-column="1">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
        </form>
        <div class="navbar-select navbar-left">
            <select selectpicker ng-model="selectedArea" data-style="btn-white" class="selectpicker show-tick" ng-options="area.Name for area in allAreas" source="allAreas" ng-change="setChange('area')">
                <option value="">ALL AREAS</option>
            </select>
        </div>
        <div class="navbar-select navbar-left">
            <select selectpicker ng-model="selectedGroup" data-style="btn-white" class="selectpicker show-tick" ng-options="group.Name for group in selectedSpeakerGroups" source="selectedSpeakerGroups" ng-change="setChange('group')">
                <option value="">ALL GROUPS</option>
            </select>
        </div>
        <div class="navbar-select navbar-left">
            <select id="statusSelection" class="selectpicker" data-style="btn-white" multiple data-width="180px">
                <option value="0" selected="selected">ALL STATUS</option>
                <option value="1">ALERTS</option>
                <option value="2">PLAYING</option>
            </select>
        </div>

        <div class="navbar-btn pull-left" ng-if="isAuthorize">
            <button type="button" class="btn btn-primary navbar-btn pull-right" data-toggle="modal" ng-click="showAddSpeakerGroupModal()" style="margin:2px 0 0 15px;height: 36px">Add Group</button>
        </div>

        <div class="navbar-btn pull-left" ng-if="isAuthorize">
            <button type="button" class="btn btn-primary navbar-btn pull-right" data-toggle="modal" ng-click="showAddSpeakerModal()" style="margin: 2px 0 0 15px; height: 36px">Add Speaker</button>
        </div>

        <ul class="nav navbar-nav pull-right" id="spedificareaNavRightToolbar">
            <li><a ui-sref="areaview"><i class="ico-restore" title="Back to Area View"></i></a></li>
            <li><a href="{{$state.href($state.current.name, $state.params, {absolute: true})}}" target="blank"><i class="ico-new-windows" title="Open in New Tab"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div id="specificAreaContainer" ui-view></div>

<div class="right-panel" populate-panes>
<div class="panel-group" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
<div class="panel panel-outter" ng-controller="SpecificAreaPanelAreaController">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" aria-expanded="True" href="#areaPanel">
                <div class="pull-left text-overflow" style="max-width: 190px"><i class="ico-location"></i><span title='{{selectedArea?selectedArea.Name:"ALL AREAS"}}'>{{selectedArea?selectedArea.Name:"ALL AREAS"}}</span></div>
                <div class="pull-right" style="line-height: 26px">
                    <i class="ico-arrow-pointing-down-white"></i>
                </div>
            </a>
            <div class="tool-wrap">
                <span class="badge">{{selectedSpeakerGroups.length}}</span>
                <label class="cbox">
                    <input type="checkbox" ng-model="$parent.isCheckAll" ng-click="onCheckAllGroups()" class="parent-group-checkbox">
                    <i ng-class="{'ico-uncheckbox-white':!$parent.isCheckAll, 'ico-checkbox-white':$parent.isCheckAll}"></i>
                </label>
            </div>
        </h4>
    </div>
    <div id="areaPanel" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
        <div class="panel-body">
            <div class="panel-group" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
                <!-- speaker groups -->
                <div class="panel panel-inner" ng-repeat="group in selectedSpeakerGroups" ng-if="selectedGroup == null || group.Uid == selectedGroup.Uid">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" aria-expanded="true" href="#inner{{$index}}Panel">
                                <div class="pull-left text-overflow"><span title="{{group.Name}}">{{group.Name}}</span></div>
                                <div class="pull-right" style="line-height: 26px">
                                    <i class="ico-arrow-pointing-down-white"></i>
                                </div>
                            </a>
                            <div class="tool-wrap">
                                <i class="ico-alert" ng-hide="!group.Alert" title="{{group.Alert}}"></i>
                                <span class="badge">{{group.Speakers.length}}</span>
                                <label class="cbox">
                                    <input type="checkbox" ng-model="group.IsSelected" ng-click="onGroupSelected(group)" class="group-checkbox">
                                    <i ng-class="group.IsSelected ? 'ico-checkbox-white' : 'ico-uncheckbox-white'"></i>
                                </label>
                            </div>
                        </h4>
                    </div>
                    <div id="inner{{$index}}Panel" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
                        <div class="panel-body" ng-class="{'empty':group.Speakers.length === 0}">
                            <div ng-repeat="speaker in group.Speakers | orderBy:'+Name'" class="rightPanelSpeaker">
                                <span>{{speaker.Name}}</span>
                                <div class="tool-wrap">
                                    <i class="ico-alert" ng-show="speaker.AlertMessages && speaker.AlertMessages.length > 0" title="{{speaker.AlertMessages}}"></i>
                                    <label class="cbox">
                                        <input type="checkbox" ng-model="speaker.IsSelected"
                                               ng-change="onSpeakerToggled(group)" class="speaker-checkbox" data-speaker-group-id="{{speaker.SpeakerGroupUid}}">
                                        <i ng-class="speaker.IsSelected ? 'ico-checkbox-white' : 'ico-uncheckbox-white'"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-outter panel-wrapper" ng-controller="SpecificAreaPanelAnnouncingController as announcingPanel" ng-show="hideMeFromSpeakers == 'show'">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" href="#announcePanel">
                <div class="pull-left text-overflow"><i class="ico-announce"></i><span>Announcement</span></div>
                <div class="pull-right" style="line-height: 26px"><i class="ico-arrow-pointing-down-white"></i></div>
            </a>
        </h4>
    </div>
    <div id="announcePanel" class="panel-collapse" role="tabpanel">
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane">
                    <div class="soundfile-wrap">
                        <select name="general-default-sounds" id="general-default-sounds" class="default-sounds selectpicker show-tick"
                                ng-disabled="isDisabled"
                                data-style="btn-white"
                                selectpicker
                                ng-model="selectedSound"
                                source="sounds"
                                ng-options="sound.name for sound in sounds"
                                ng-change="generalDefaultChange()">
                            <!--<option ng-repeat="sound in sounds" value="{{sound}}">{{sound}}</option>-->
                        </select>
                    </div>
                    <div class="top20">
                        <button class="btn btn-gray pull-left" ng-class="{checked:repeat}" ng-disabled="isDisabled" ng-click="repeat =! repeat" style="width: 120px;"><i class="fa fa-retweet" aria-hidden="true"></i> Repeat</button>
                        <button class="btn pull-right" ng-class="isPlaying ? 'btn-primary' : 'btn-success'" ng-disabled="isPlayDisabled" ng-click="toggleSoundPlay($event)" style="width: 120px;"><i class="fa" ng-class="isPlaying ? 'fa-stop':'fa-play'" aria-hidden="true"></i> {{isPlaying ?"Stop":"Play"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="panel panel-outter panel-wrapper" ng-controller="SpecificAreaPanelAnnouncingController as generalPanel" ng-show="hideMeFromSpeakers == 'show'">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" href="#announcePanel">
                <div class="pull-left text-overflow"><i class="ico-announce"></i><span>General Announcing</span></div>
                <div class="pull-right" style="line-height: 26px"><i class="ico-arrow-pointing-down-white"></i>
                </div>
            </a>
        </h4>
    </div>
    <div id="announcePanel" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            <custom-tabs>
                <section class="tab" tab-selection>
                    <div class="form-group">

                        <ul class="nav nav-pills">
                            <li ng-class="{active:isSelected(1) }" class="tab-one">
                                <a role="tab" class="btn"
                                   ng-disabled="disabledPaneTabs"
                                   ng-click="selectTab(1)">Default</a>
                            </li>
                            <li ng-class="{active:isSelected(2) }" class="tab-two">
                                <a role="tab" class="btn"
                                   ng-disabled="disabledPaneTabs"
                                   ng-click="selectTab(2)">Custom</a>
                            </li>
                        </ul>

                        <custom-panes>
                            <div ng-show="isSelected(1)">
                                <div role="tabpanel" class="tab-pane" id="general-default-tab">
                                    <div class="soundfile-wrap">
                                        <select name="general-default-sounds" id="general-default-sounds" class="default-sounds selectpicker show-tick"
                                                ng-disabled="disableGeneralSelect"
                                                data-style="btn-white"
                                                selectpicker
                                                ng-model="persistSound.generalSelect"
                                                source="selectedGeneralSounds"
                                                ng-change="generalDefaultChange()">
                                            <option ng-repeat="sound in selectedGeneralSounds" value="{{sound.Uid}}">{{sound.Filename}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isSelected(2)">
                                <div role="tabpanel" class="tab-pane" id="general-custom-tab">
                                    <div class="soundfile-wrap">
                                        <select id="general-custom-sounds" class="custom-sounds selectpicker show-tick"
                                                ng-disabled="disableGeneralCustomSelect"
                                                data-style="btn-white"
                                                data-width="100%"
                                                selectpicker
                                                ng-model="persistSound.generalCustomSelect"
                                                source="generalCustomSounds"
                                                ng-change="generalcustomChange()">
                                            <option ng-repeat="customSound in generalCustomSounds" value="{{customSound.Uid}}">{{customSound.Filename}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="repeat-wrap top20">
                                <label for="general-repeater" ng-disabled="disableGeneralRepeat" class="control-label pull-left">Repeat</label>

                                <div class="pull-left repeat-times">
                                    <select id="general-repeater" class="custom-repeat selectpicker show-tick"
                                            ng-disabled="disableGeneralRepeat"
                                            data-style="btn-white"
                                            data-width="100%"
                                            selectpicker
                                            ng-model="persistSound.generalRepeatTimes"
                                            source="repeatTimeOptions"
                                            ng-change="generalRepeatChange()">
                                        <option ng-repeat="repeat in repeatTimeOptions" value="{{repeat.value}}">{{repeat.option}}</option>
                                    </select>
                                </div>

                                <div class="play-sound-wrap top5 left20 pull-left">
                                    <button class="play-sound-btn general-announcement-play" ng-class="selectedPlayButton && selectedPlayButton == 'general' ? 'stop-sound' : 'play-sound'"
                                            ng-disabled="disableGeneralPlayButton"
                                            ng-click="toggleSoundPlay($event)"></button>
                                </div>
                            </div>
                        </custom-panes>
                    </div>
                </section>
            </custom-tabs>
        </div>
    </div>
</div>-->
<!--<div class="panel panel-outter panel-wrapper" ng-controller="SpecificAreaPanelAnnouncingController as emergencyPanel" ng-show="hideMeFromSpeakers == 'show'">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" href="#emergencyPanel">
                <div class="pull-left text-overflow"><i class="ico-emergency"></i><span>Emergency Announcements</span></div>
                <div class="pull-right" style="line-height: 26px">
                    <i class="ico-arrow-pointing-down-white"></i>
                </div>
            </a>
        </h4>
    </div>
    <div id="emergencyPanel" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body emergency-announcement">

            <custom-tabs>
                <section class="tab" tab-selection>
                    <div class="form-group">

                        <ul class="nav nav-pills">
                            <li ng-class="{active:isSelected(1) }" class="tab-one">
                                <a role="tab" class="btn"
                                   ng-disabled="disabledPaneTabs"
                                   ng-click="selectTab(1)">Default</a>
                            </li>
                            <li ng-class="{active:isSelected(2) }" class="tab-two">
                                <a role="tab" class="btn"
                                   ng-disabled="disabledPaneTabs"
                                   ng-click="selectTab(2)">Custom</a>
                            </li>
                        </ul>

                        <custom-panes>
                            <div ng-show="isSelected(1)">
                                <div role="tabpanel" class="tab-pane" id="emergency-default-tab">
                                    <div class="soundfile-wrap">
                                        <select id="emergency-default-sounds" class="default-sounds selectpicker show-tick"
                                                ng-disabled="disableEmergencySelect"
                                                data-style="btn-white"
                                                selectpicker
                                                ng-model="persistSound.emergencySelect"
                                                source="selectedEmergencySounds"
                                                ng-change="emergencyDefaultChange()">
                                            <option ng-repeat="sound in selectedEmergencySounds" value="{{sound.Uid}}">{{sound.Filename}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isSelected(2)">
                                <div role="tabpanel" class="tab-pane" id="emergency-custom-tab">
                                    <div class="soundfile-wrap">
                                        <select id="emergency-custom-sounds" class="custom-sounds selectpicker show-tick"
                                                ng-disabled="disableEmergencyCustomSelect"
                                                data-style="btn-white"
                                                data-width="100%"
                                                selectpicker
                                                ng-model="persistSound.emergencyCustomSelect"
                                                source="emergencyCustomSounds"
                                                ng-change="emergencyCustomChange()">
                                            <option ng-repeat="customSound in emergencyCustomSounds" value="{{customSound.Uid}}">{{customSound.Filename}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="repeat-wrap top20">
                                <label for="emergency-repeater" ng-disabled="disableEmergencyRepeat" class="control-label pull-left">Repeat</label>

                                <div class="pull-left repeat-times">
                                    <select id="emergency-repeater" class="custom-repeat selectpicker show-tick"
                                            ng-disabled="disableEmergencyRepeat"
                                            data-style="btn-white"
                                            data-width="100%"
                                            selectpicker
                                            ng-model="persistSound.emergencyRepeatTimes"
                                            source="repeatTimeOptions"
                                            ng-change="emergencyRepeatChange()">
                                        <option ng-repeat="repeat in repeatTimeOptions" value="{{repeat.value}}">{{repeat.option}}</option>
                                    </select>
                                </div>

                                <div class="play-sound-wrap top5 left20 pull-left">
                                    <button class="play-sound-btn emergency-announcement-play" ng-class="selectedPlayButton == 'emergency' ? 'stop-sound' : 'play-sound'"
                                            ng-disabled="disableEmergencyPlayButton"
                                            ng-click="toggleSoundPlay($event)"></button>
                                </div>
                            </div>
                        </custom-panes>
                    </div>
                </section>
            </custom-tabs>
        </div>
    </div>
</div>
<div class="panel panel-outter panel-wrapper" ng-controller="SpecificAreaPanelAnnouncingController as speechPanel" ng-show="hideMeFromSpeakers == 'show'">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" href="#speechPanel">
                <div class="pull-left text-overflow"><i class="ico-text-to-speech"></i><span>Text to Speech</span></div>
                <div class="pull-right" style="line-height: 26px">
                    <i class="ico-arrow-pointing-down-white"></i>
                </div>
            </a>
        </h4>
    </div>
    <div id="speechPanel" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            <div class="form-group">
                <div>
                    <label for="speechText" class="control-label">Speech Text</label>
                    <textarea class="form-control speechText" id="speechText"
                              ng-disabled="disableTTSContent"
                              ng-model="persistSound.TTS">{{persistSound.TTS ? persistSound.TTS : ''}}</textarea>
                </div>
                <div class="play-sound-wrap top5 left20 pull-right">
                    <button class="play-sound-btn text-to-speech-play" ng-class="selectedPlayButton == 'textToSpeech' ? 'stop-sound' : 'play-sound'"
                            ng-disabled="disableTTSPlayButton"
                            ng-click="toggleSoundPlay($event)"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-outter panel-wrapper" ng-controller="SpecificAreaPanelAnnouncingController as microphonePanel" ng-show="hideMeFromSpeakers == 'show'">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" href="#microphonePanel">
                <div class="pull-left text-overflow"><i class="ico-microphone"></i><span>Microphone</span></div>
                <div class="pull-right" style="line-height: 26px">
                    <i class="ico-arrow-pointing-down-white"></i>
                </div>
            </a>
        </h4>
    </div>
    <div id="microphonePanel" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            <div class="form-group">
                <div class="microphone-wrap">
                    <div class="microphone-logo pull-left">
                        <div class="ico-microphone"></div>
                    </div>

                    <div class="microphone-time pull-left">
                        <div class="microphone-start-stop btn col-md-offset-2"
                             ng-disabled="disableMicrophoneStartButton"
                             ng-click="startRecord()">
                            <h3 class="text-uppercase">start</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
</div>
</div>
<div alert-modal settings="{isHTML:true, id: 'deleteSpeakerModal'}" display-texts="{title: 'Delete', okBtnText: 'Delete'}" ng-model="alertContent" events="{onOkayClick:onDeleteSpeakerConfirm}"></div>
<div alert-modal settings="{isHTML:true, id: 'deleteGroupModal'}" display-texts="{title: 'Delete', okBtnText: 'Delete'}" ng-model="alertContent" events="{onOkayClick:onDeleteSpeakerGroupConfirm}"></div>