﻿<!--<div id="mapContainer" ></div>-->
<div ng-click="myClick($event)" style="position:relative; height: 100%; width: 100%;">
    <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" control="map.control" draggable="true" options="options" bounds="map.bounds" events="map.events" style="height: 100%;">
        <ui-gmap-markers ng-repeat="speakerGroup in selectedSpeakerGroups" models="speakerGroup.Speakers" idkey="'Uid'" type="'cluster'"
                         ng-if="selectedGroup == null || speakerGroup.Uid == selectedGroup.Uid"
                         typeoptions='{"title":speakerGroup.Name, gridSize: 175,"ignoreHidden":true,averageCenter: true,"minimumClusterSize":getMinimumClusterSize(speakerGroup.Speakers), styles: getClusterStyle(speakerGroup)}'
                         events="markerEvents"
                         typeevents='speakerGroup.typeEvents'
                         options="getOptions" click="markerClick" icon="'optons.icon'" dorebuildall="true"
                         coords="'self'" type="cluster">
        </ui-gmap-markers>
        <ui-gmap-window coords="selectedMarker" show="windowOptions.visible" options="windowOptions" templateurl="infoWindowTemplateUrl" templateparameter="infoWindowParameter" closeclick="closeMapWindow()">
        </ui-gmap-window>
        <ui-gmap-window coords="selectedClusterLocation" show="clusterWindowOptions.visible" options="clusterWindowOptions" templateurl="clusterInfoWindowTemplateUrl" templateparameter="clusterInfoWindowParameter" closeclick="closeMapWindow()">
        </ui-gmap-window>
        <ui-gmap-window coords="rightClickLocation" show="mapRightClickWindowOptions.visible" options="mapRightClickWindowOptions" templateurl="mapRightClickWindowTemplateUrl" templateparameter="mapRightClickParameter" closeclick="closeMapWindow()">
        </ui-gmap-window>
        <!--<ui-gmap-map-type options="imageMapType" ng-repeat="image in map.customImages"></ui-gmap-map-type>-->
    </ui-gmap-google-map>
</div>
