﻿<div class="container-fluid" ng-cloak>
    <div class="row dataTable-container">
        <table id="specificAreaTable" ng-show="showTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        <div class="gray-checkbox-container">
                            <label>
                                <input type='checkbox' id="checkboxAll" ng-model="$parent.isCheckAll" ng-click="$parent.toggleSelectAll()" /><span></span>
                            </label>
                        </div>
                    </th>
                    <th>GROUPS</th>
                    <th>SPEAKERS</th>
                    <th>PLAYING</th>
                    <th style="text-align: center; width: 145px">ALERTS</th>
                    <th style=" height: 20px"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>