<nav class="navbar navbar-view">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group has-feedback">
                <input ng-change="onSearchesChanged()" type="search" ng-model="searchText" class="form-control" placeholder="Search" data-column="1">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
            <a href="#" class="navbar-link" style="padding-left: 10px;" ng-click="showAll()">Show All</a>
        </form>
        <button type="button" class="btn btn-primary navbar-btn pull-right" data-toggle="modal" data-target="#userModal" data-uid="">Add New User</button>

        <div id="userModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form class="form-horizontal container-fluid arial-font" autocomplete="off" novalidate name="userForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                            <h4 class="modal-title arial-font">{{editUser?'Edit User':'Add User'}}</h4>
                        </div>
                       
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="firstName" class="control-label">First Name</label>
                                    <div show-errors ng-class="{'has-error': userForm.firstName.$invalid && userForm.firstName.$dirty}">
                                        <input type="text" class="form-control" focus-me="userFocus" id="firstName" name="firstName" ng-model="userViewModel.FirstName" required>
                                        <label class="control-label error-label" ng-show="userForm.firstName.$error.required && userForm.firstName.$dirty">The First Name field is required.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="lastName" class="control-label">Last Name</label>
                                    <div show-errors ng-class="{'has-error': userForm.lastName.$invalid && userForm.lastName.$dirty}">
                                        <input type="text" class="form-control" id="lastName" name="lastName" ng-model="userViewModel.LastName"  required>
                                        <label class="control-label error-label" ng-show="userForm.lastName.$error.required && userForm.lastName.$dirty">The Last Name field is required.</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="email" class="control-label">Email</label>
                                    <div show-errors ng-class="{'has-error': userForm.email.$invalid && userForm.email.$dirty || emailAlreadyUsed}">
                                        <input type="email" validate-email class="form-control" id="email" name="email" ng-model="userViewModel.Email" ng-change="verifyUniqueEmail()" required>
                                        <label class="control-label error-label" ng-show="userForm.email.$error.required && userForm.email.$dirty">The Email field is required.</label>
                                        <label class="control-label error-label" ng-show="userForm.email.$error.email">The Email field is not valid.</label>
                                        <label class="control-label error-label" ng-show="emailAlreadyUsed">Email is already taken.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="phone" class="control-label">Phone</label>
                                    <div show-errors ng-class="{'has-error': userForm.phone.$invalid && userForm.phone.$dirty}">
                                        <input type="text" class="form-control" id="phone" name="phone" ng-model="userViewModel.Phone" required>
                                        <label class="control-label error-label" ng-show="userForm.phone.$error.required && userForm.phone.$dirty">The Phone Number field is required.</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6">
                                    <label for="Password" class="control-label">Password</label>
                                    <div ng-class="{'has-error': isPasswordRequired || validationMessage}">
                                        <input type="password" class="form-control" name="Password" ng-model="userViewModel.Password" ng-change="passwordChanged()" ng-disabled="editUser">
                                        <label class="control-label error-label" ng-show="isPasswordRequired">The Password field is required.</label>
                                        <label class="control-label error-label" ng-show="validationMessage">{{validationMessage}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                                    <div  ng-class="{'has-error': isConfirmPasswordRequired}">
                                        <input type="password" class="form-control" name="ConfirmPassword" ng-model="userViewModel.ConfirmPassword" ng-change="confirmPasswordChanged()" ng-disabled="editUser">
                                        <label class="control-label error-label" ng-show="isConfirmPasswordRequired">The Confirm Password field is required.</label>
                                    </div>
                                </div>
                            </div>
                       
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="accessLevelOption" class="control-label">Level</label>
                                        <select class="form-control selectpicker" id="accessLevelOption" selectpicker data-style="btn-white" ng-model="userViewModel.AccessLevel">
                                            <option value="1">Level 1 User</option>
                                            <option value="2">Level 2 User</option>
                                            <option value="0">Administrator</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="statusOption" class="control-label">Status</label>
                                        <select class="form-control selectpicker" id="statusOption" selectpicker data-style="btn-white" ng-model="userViewModel.Status">
                                            <option value="0">Active</option>
                                            <option value="1">Inactive</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label class="control-label">Available Areas & Groups</label>
                                        <div class="panel panel-default" style="height: 200px; overflow-y: auto; border: 2px solid #D5D8DB; margin-right: -20px;" ng-controller="SourceTreeController">
                                            <div treecontrol class="tree-classic" style="margin-top: 5px; font-family: arial"
                                                 tree-model="availableAreaGroups"
                                                 options="treeOptions"
                                                 selected-nodes="selectedSourceTreeNodes"
                                                 expanded-nodes="sourceExpandedNodes"
                                                 on-selection="selectSourceEvent(node, selected)">
                                                {{node.Name}}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div style="text-align: center; margin-top: 90px;">
                                            <button type="button" class="btn btn-default" style="width: 100px" ng-click="addSelection()">Add</button>
                                            <button type="button" class="btn btn-default" style="margin-top: 10px; width: 100px;" ng-click="removeSelection()">
                                                REMOVE
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="control-label" style="margin-left: -22px;">Assigned Areas & Groups</label>
                                        <div ng-style="assignedGroupsStyle" class="panel panel-default" style="height: 200px; overflow-y: auto; border: 2px solid #D5D8DB; margin-left: -22px;"
                                             ng-controller="DestinationTreeController">
                                            <div treecontrol class="tree-classic" style="margin-top: 5px; font-family: arial" id="assignedGroups" name="assignedGroups"
                                                 tree-model="assignedAreaGroups"
                                                 options="treeOptions"
                                                 selected-nodes="selectedDestinationTreeNodes"
                                                 expanded-nodes="destinationExpandedNodes"
                                                 on-selection="selectDestinationEvent(node, selected)">
                                                {{node.Name}}
                                            </div>
                                        </div>
                                        <label class="control-label error-label" style="color: #a94442" ng-hide="hasGroups">The Assigned Areas and Groups field is required.</label>
                                    </div>
                                </div>
                            </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
                            <button id="addUser" type="button" class="btn btn-primary btn-lg" ng-disabled="emailAlreadyUsed || userForm.$invalid || !hasGroups || isPasswordRequired || isConfirmPasswordRequired || validationMessage" ng-click="manageUser()"><i ng-show="!editUser" class="ico-plus-small-white"></i>{{editUser?'SAVE':'ADD'}}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div id="deleteUserModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal container-fluid arial-font" novalidate name="deleteUserForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                            <h4 class="modal-title arial-font">{{editStatusTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <p style="text-transform: none !important;">Are you sure you want to delete this user?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="deleteUser()">Delete</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div>
        </div>

        <div id="changeStatusModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal container-fluid arial-font" autocomplete="off" novalidate name="statusForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="ico-close"></i></button>
                            <h4 class="modal-title arial-font">{{editStatusTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <p style="text-transform: none !important;"><span ng-bind="editStatusMessage"></span></p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="enableDisableUser()">{{editStatusButton}}</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div>
        </div>

    </div><!-- /.navbar-collapse -->
</nav>


<div class="container-fluid" ng-cloak>
    <div class="row dataTable-container">
        <table id="userInfoTable" ng-show="showTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>AREA AND SPEAKER GROUPS</th>
                    <th>ROLE</th>
                    <th>STATUS</th>
                    <th style=" height: 20px"></th>
                </tr>
            </thead>
        </table>
    </div>

</div>
