﻿.ico-lrad-logo, .ico-zoom-button, .ico-add-new-area, .ico-add, .ico-alert, 
.ico-announce, .ico-checkbox-grey, .ico-checkbox-white, .ico-close, .ico-delete-button, 
.ico-edit, .ico-emergency, .ico-grid-red, .ico-grid-white, .ico-listen-button, 
.ico-listen, .ico-location, .ico-map-red, .ico-map-white, .ico-microphone-white, 
.ico-microphone, .ico-new-windows, .ico-on-air, .ico-play, .ico-power-green, 
.ico-power, .ico-record, .ico-restore, .ico-stop, .ico-text-to-speech, 
.ico-trash, .ico-uncheckbox-grey, .ico-uncheckbox-white, .ico-slider, .ico-arrow-panel-1, 
.ico-arrow-panel-2, .ico-repeat-red, .ico-repeat-white, .ico-checkmark-white, .ico-max-windows, 
.ico-new-windows-sm, .ico-search, .ico-settings, .ico-radio-checked, .ico-radio-unchecked, 
.ico-alert-sm, .ico-plus-small-grey, .ico-plus-small-red, .ico-plus-small-white, .ico-arrow, 
.ico-checkmark, .ico-tooth, .ico-arrow-pointing-down-grey, .ico-arrow-pointing-down-white, .ico-arrow-pointing-up-grey, 
.ico-arrow-pointing-up-white, .ico-delete, .ico-stop-white, .ico-minus, .ico-play-white, 
.ico-plus, .ico-arrow-pointing-left-white, .ico-arrow-pointing-right-white
{ display: inline-block; background: url('/Images/image.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.ico-lrad-logo { background-position: -1px -0px; width: 160px; height: 42px; }
.ico-zoom-button { background-position: -1px -43px; width: 90px; height: 46px; }
.ico-add-new-area { background-position: -92px -43px; width: 68px; height: 68px; }
.ico-add { background-position: -1px -90px; width: 26px; height: 26px; }
.ico-alert { background-position: -28px -90px; width: 26px; height: 26px; }
.ico-announce { background-position: -55px -90px; width: 26px; height: 26px; }
.ico-checkbox-grey { background-position: -82px -112px; width: 26px; height: 26px; }
.ico-checkbox-white { background-position: -109px -112px; width: 26px; height: 26px; }
.ico-close { background-position: -1px -117px; width: 26px; height: 26px; }
.ico-delete-button { background-position: -28px -117px; width: 26px; height: 26px; }
.ico-edit { background-position: -55px -117px; width: 26px; height: 26px; }
.ico-emergency { background-position: -82px -139px; width: 26px; height: 26px; }
.ico-grid-red { background-position: -109px -139px; width: 26px; height: 26px; }
.ico-grid-white { background-position: -1px -144px; width: 26px; height: 26px; }
.ico-listen-button { background-position: -28px -144px; width: 26px; height: 26px; }
.ico-listen { background-position: -55px -144px; width: 26px; height: 26px; }
.ico-location { background-position: -82px -166px; width: 26px; height: 26px; }
.ico-map-red { background-position: -109px -166px; width: 26px; height: 26px; }
.ico-map-white { background-position: -1px -171px; width: 26px; height: 26px; }
.ico-microphone-white { background-position: -28px -171px; width: 26px; height: 26px; }
.ico-microphone { background-position: -55px -171px; width: 26px; height: 26px; }
.ico-new-windows { background-position: -82px -193px; width: 26px; height: 26px; }
.ico-on-air { background-position: -109px -193px; width: 26px; height: 26px; }
.ico-play { background-position: -1px -198px; width: 26px; height: 26px; }
.ico-power-green { background-position: -28px -198px; width: 26px; height: 26px; }
.ico-power { background-position: -55px -198px; width: 26px; height: 26px; }
.ico-record { background-position: -82px -220px; width: 26px; height: 26px; }
.ico-restore { background-position: -109px -220px; width: 26px; height: 26px; }
.ico-stop { background-position: -1px -225px; width: 26px; height: 26px; }
.ico-text-to-speech { background-position: -28px -225px; width: 26px; height: 26px; }
.ico-trash { background-position: -55px -225px; width: 26px; height: 26px; }
.ico-uncheckbox-grey { background-position: -82px -247px; width: 26px; height: 26px; }
.ico-uncheckbox-white { background-position: -109px -247px; width: 26px; height: 26px; }
.ico-slider { background-position: -136px -112px; width: 24px; height: 24px; }
.ico-arrow-panel-1 { background-position: -136px -137px; width: 22px; height: 11px; }
.ico-arrow-panel-2 { background-position: -136px -149px; width: 21px; height: 11px; }
.ico-repeat-red { background-position: -136px -161px; width: 19px; height: 12px; }
.ico-repeat-white { background-position: -136px -174px; width: 19px; height: 12px; }
.ico-checkmark-white { background-position: -136px -187px; width: 18px; height: 18px; }
.ico-max-windows { background-position: -136px -206px; width: 18px; height: 18px; }
.ico-new-windows-sm { background-position: -136px -225px; width: 18px; height: 18px; }
.ico-search { background-position: -136px -244px; width: 18px; height: 18px; }
.ico-settings { background-position: -1px -252px; width: 18px; height: 18px; }
.ico-radio-checked { background-position: -20px -252px; width: 16px; height: 16px; }
.ico-radio-unchecked { background-position: -37px -252px; width: 16px; height: 16px; }
.ico-alert-sm { background-position: -54px -252px; width: 15px; height: 15px; }
.ico-plus-small-grey { background-position: -136px -263px; width: 15px; height: 15px; }
.ico-plus-small-red { background-position: -54px -268px; width: 15px; height: 15px; }
.ico-plus-small-white { background-position: -20px -269px; width: 15px; height: 15px; }
.ico-arrow { background-position: -36px -269px; width: 14px; height: 14px; }
.ico-checkmark { background-position: -1px -271px; width: 14px; height: 10px; }
.ico-tooth { background-position: -70px -274px; width: 14px; height: 7px; }
.ico-arrow-pointing-down-grey { background-position: -85px -274px; width: 13px; height: 8px; }
.ico-arrow-pointing-down-white { background-position: -99px -274px; width: 13px; height: 8px; }
.ico-arrow-pointing-up-grey { background-position: -113px -274px; width: 13px; height: 8px; }
.ico-arrow-pointing-up-white { background-position: -127px -279px; width: 13px; height: 8px; }
.ico-delete { background-position: -141px -279px; width: 13px; height: 13px; }
.ico-stop-white { background-position: -70px -252px; width: 11px; height: 11px; }
.ico-minus { background-position: -1px -282px; width: 10px; height: 10px; }
.ico-play-white { background-position: -70px -282px; width: 10px; height: 13px; }
.ico-plus { background-position: -81px -283px; width: 10px; height: 10px; }
.ico-arrow-pointing-left-white { background-position: -82px -90px; width: 8px; height: 13px; }
.ico-arrow-pointing-right-white { background-position: -152px -263px; width: 8px; height: 13px; }
