﻿<div ng-controller="NavbarController">
    <nav class="navbar navbar-default navbar-fixed-top main-navbar" ng-show="hasLogin">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="areaview" class="navbar-brand"><img src="/Images/lrad-logo.png" /></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav" ng-show="isManagement()">
                <li ng-class="{'active':$state.is('specificarea.map')||$state.is('specificarea.table')}"><a ui-sref="specificarea.map">Speakers</a></li>
                <li ui-sref-active="active"><a ui-sref="userManagement">User Management</a></li>
                <li ui-sref-active="active">@*<a ui-sref="soundManagement">Sound Management</a>*@</li>
            </ul>
            <ul class="nav navbar-nav pull-right userName" ng-class="hasLogin ? 'hasLogin': ''">
                <li class="dropdown" ng-if="isAuthenticated()">
                    <label style="display: none">{{checkUserLogin()}}</label>
                    <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" style="width: 185px" href="#">
                        <span style="text-transform: none !important;font-family: arial;font-size: 16px">Hi, {{username()}}.</span>
                        <i class="ico-arrow-pointing-down-grey"></i>
                    </a>
                    <ul role="menu" class="dropdown-menu" style="right: 0; left: auto; font-family: arial">
                        <li><a data-toggle='modal' data-target='#changePasswordModal' style="cursor: pointer"><i class="fa fa-user"></i> Change Password </a></li>
                        @*<li><a href="javascript:void(0);"><i class="fa fa-gear"></i> Settings </a></li>*@
                        <li><a ui-sref="logout" style="cursor: pointer"><i class="fa fa-share"></i> Logout </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div change-password></div>
</div>
<section id="main-wrapper" ui-view></section>

