﻿<!DOCTYPE html>
<html ng-app="LRADPortal">
<head>
    <meta name="description" content="LRAD">
    <meta name="keywords" content="LRAD">
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <base href="/">
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry&sensor=false"></script>*@

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">
                © 2015. All Rights Reserved. v0.9.9.1
            </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lodash")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-controller")
    @Scripts.Render("~/bundles/plugin")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
</body>
</html>
